extends layout

block page_title
  title Αυτός είναι ο τίτλος της σελίδας

block greeting
  h1 Γεια σου κόσμε!

block software_engineer
  p Σύντομα θα γίνω μηχανικός λογισμικού!
  img(src="/images/earth.jpg" alt="Ο πλανήτης Γη" title="Ο πλανήτης Γη")