doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      a {
        color: inherit;
        text-decoration: none;
      }
    block scripts
  body
    block content