body {
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

nav {
  background-color: rgb(73, 140, 203);
  text-align: center;
  padding: 1.5em 0 2em;
  width: 100%;
}

h1 {
  margin: 0;
}

h1 a {
  color: whitesmoke;
  text-decoration: none;
}

main {
  margin: auto;
  max-width: 801px;
}

#search-bar, #no-search-results {
  background-color: #f4f4f4;
  border-radius: 6px;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

#no-search-results {
  margin-top: 2em;
}

#contacts {
  display: flex;
  flex-wrap: wrap;
}

.contact-container {
  margin: 0.8em;
}

button {
  background-color: transparent;
  border: 1px solid rgb(73, 140, 203);
  border-radius: 6px;
  padding: 10px 15px;
}

button:hover {
  background-color: rgb(73, 140, 203);
  color: white;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}

.error {
  color: red;
}

span.error {
  margin-left: 1em;
}

.invalid {
  border-color: red;
}